{% set pageNum = pageNum|default(1) %}
{% set limit = limit|default(1) %}
{% set entriesTotal = entriesTotal|default(1) %}
{% set backLink = backLink|default(false) %}
{% set backLinkText = backLinkText|default('back') %}

{% set pagination = getPagination({
    currentPage: pageNum,
    perPage: limit,
    totalResults: entriesTotal,
    base: getUriPathSansPagination(),
}) %}

<div class="PageWithSubNav">
    <nav
        class="PageWithSubNav__Nav JSPageSubNav"
        data-open-class="PageWithSubNav__Nav--IsOpen"
    >
        <span class="PageWithSubNav__MobileExpander JSPageSubNav__MobileExpander">
            <span class="PageWithSubNav__MobileExpanderText JSPageSubNav__ActiveText">
                Menu
            </span>
            <span class="PageWithSubNav__MobileExpanderIcon">
                {% include '_svg/angle-down' %}
            </span>
        </span>
        <div class="PageWithSubNav__NavLists JSPageSubNav__List">
            <div class="PageWithSubNav__NavListHeading">Messages by:</div>
            <ul class="PageWithSubNav__NavList">
                {% for speaker in craft.users.group('speakers').orderBy('lastname asc').all() %}
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="/media/messages/by/{{ speaker.slugField }}"
                            class="PageWithSubNav__NavListLink"
                        >
                            {% filter typeset %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="PageWithSubNav__NavListHeading">Messages Series</div>
            <ul class="PageWithSubNav__NavList">
                {% for category in craft.categories.group('messageSeries').orderBy('title asc').all() %}
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="/media/messages/series/{{ category.slug }}"
                            class="PageWithSubNav__NavListLink"
                        >
                            {{ category|typeset }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="PageWithSubNav__Content">
        <div class="BasicBlock">
            <div class="BasicBlock__Inner">
                <div class="MessageList">
                    <div class="MessageList__Inner">
                        {% if backLink %}
                            <a href="{{ backLink }}">
                                &laquo; {{ backLinkText|typeset }}
                            </a>
                            <br><br><br>
                        {% endif %}
                        {% for entry in entries %}
                            <div class="MessageList__Item">
                                {% include '_partials/Message' with {
                                    entry: entry
                                } only %}
                            </div>
                        {% endfor %}
                        {% if pagination %}
                            {% include '_partials/Pagination' with {
                                pagination: pagination
                            } %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
