{% set liClass = liClass|default(false) %}
{% set liSubNavClass = liSubNavClass|default(false) %}
{% set liNoSubNavClass = liNoSubNavClass|default(false) %}
{% set liData = liData|default({}) %}
{% set linkClass = linkClass|default(false) %}

<li
    class="{% if liClass %}{{ liClass }}{% endif %}{% if liSubNavClass and model.level < 2 and hasChildren %} {{ liSubNavClass }}{% elseif liNoSubNavClass %} {{ liNoSubNavClass }}{% endif %}"
    {% for dataName,data in liData %}
    data-{{ dataName }}="{{ data }}"
    {% endfor %}
>
    {% set link = model.url %}

    {% if model.getType.handle == 'navLink' and model.urlField %}
        {% set link = model.urlField %}
    {% endif %}

    <a
        href="{{ link }}"
        {% if linkClass %}class="{{ linkClass }}"{% endif %}
    >
        {{ model.navTitleOverride|default(model.title)|smartypants }}
    </a>
    {% if model.level < 2 and hasChildren %}
        <ul class="SiteNav__SubList JSSiteNav__SubNavList">
            {% for nav in children %}
                {% include '_partials/SiteHeaderNav.twig' with nav|merge({
                    liClass: 'SiteNav__SubListItem',
                    linkClass: 'SiteNav__SubLink',
                }) only %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
