{% extends "_core/LayoutMaster" %}

{# Variables #}
{% set noIndex = noIndex|default(false) %}
{% set metaTitle = metaTitle|default(null) %}
{% set metaDescription = metaDescription|default(null) %}
{% set shareImage = shareImage|default(null) %}
{% set heroHeading = heroHeading|default(null) %}
{% set photoAssets = photoAssets|default({}) %}
{% set heroImageAsset = activeSeries|default(null) %}

{% block content %}
    <div
        class="Gallery JSGallery"
        data-full-screen-class="Gallery--IsFullScreen"
    >
        <div class="Gallery__Inner">
            <div class="Gallery__ItemWrap">
                <span class="Gallery__NavCloseFullScreen JSGallery__FullScreenToggle">
                    {% include '_svg/close' only %}
                </span>
                <span class="Gallery__NavFullScreen JSGallery__FullScreenToggle">
                    {% include '_svg/expand-arrows-alt' only %}
                </span>
                <span
                    class="Gallery__NavBack Gallery__NavBack--IsHidden JSGallery__NavBack"
                    data-hidden-class="Gallery__NavBack--IsHidden"
                >
                    {% include '_svg/angle-left' only %}
                </span>
                <span
                    class="Gallery__NavForward JSGallery__NavForward"
                    data-hidden-class="Gallery__NavForward--IsHidden"
                >
                    {% include '_svg/angle-right' only %}
                </span>
                <ol class="Gallery__Items JSGallery__Items">
                    {% for photoAsset in photoAssets %}
                        <li
                            class="Gallery__Item{% if loop.first %} Gallery__Item--IsActive{% endif %} JSGallery__Item"
                            data-gallery-index="{{ loop.index0 }}"
                            data-active-class="Gallery__Item--IsActive"
                        >
                            <div class="Gallery__ItemPhoto">
                                <picture>
                                    {% set standardAssetUrl = photoAsset.getUrl({
                                        width: min(400, photoAsset.width),
                                    }) %}
                                    {% set retinaAssetUrl = photoAsset.getUrl({
                                        width: min(400, photoAsset.width) * 2,
                                    }) %}
                                    <source
                                        srcset="{{ standardAssetUrl }} 1x,
                                                {{ retinaAssetUrl }} 2x"
                                        media="(min-width: 1px) and (max-width: 499px)"
                                    >

                                    {% set standardAssetUrl = photoAsset.getUrl({
                                        width: min(700, photoAsset.width),
                                    }) %}
                                    {% set retinaAssetUrl = photoAsset.getUrl({
                                        width: min(700, photoAsset.width) * 2,
                                    }) %}
                                    <source
                                        srcset="{{ standardAssetUrl }} 1x,
                                                {{ retinaAssetUrl }} 2x"
                                        media="(min-width: 500px) and (max-width: 799px)"
                                    >

                                    {% set standardAssetUrl = photoAsset.getUrl({
                                        width: min(1400, photoAsset.width),
                                    }) %}
                                    {% set retinaAssetUrl = photoAsset.getUrl({
                                        width: min(1400, photoAsset.width) * 2,
                                    }) %}
                                    <source
                                        srcset="{{ standardAssetUrl }} 1x,
                                                {{ retinaAssetUrl }} 2x"
                                        media="(min-width: 800px) and (max-width: 1499px)"
                                    >

                                    {% set standardAssetUrl = photoAsset.getUrl({
                                        width: min(1800, photoAsset.width),
                                    }) %}
                                    {% set retinaAssetUrl = photoAsset.getUrl({
                                        width: min(1800, photoAsset.width) * 2,
                                    }) %}
                                    <img
                                        src="{{ standardAssetUrl }}"
                                        srcset="{{ standardAssetUrl }} 1x,
                                                {{ retinaAssetUrl }} 2x"
                                        alt="{{ photoAsset.title }}"
                                        class="Gallery__ItemImg"
                                    >
                                </picture>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div
                class="Gallery__NavWrapper JSGallery__NavWrapper Gallery__NavWrapper--HasScrollRightIndicator Gallery__NavWrapper--HasScrollLeftIndicator"
                data-has-left-scroll-class="Gallery__NavWrapper--HasScrollLeftIndicator"
                data-has-right-scroll-class="Gallery__NavWrapper--HasScrollRightIndicator"
            >
                <nav class="Gallery__Nav JSGallery__Nav">
                    <ol class="Gallery__NavItems JSGallery__NavItems">
                        {% for photoAsset in photoAssets %}
                            <li
                                class="Gallery__NavItem{% if loop.first %} Gallery__NavItem--IsActive{% endif %} JSGallery__NavItem"
                                data-gallery-index="{{ loop.index0 }}"
                                data-active-class="Gallery__NavItem--IsActive"
                            >
                                <picture>
                                    {% set standardAssetUrl = photoAsset.getUrl({
                                        height: '67',
                                        width: '100',
                                    }) %}
                                    {% set retinaAssetUrl = photoAsset.getUrl({
                                        height: '134',
                                        width: '200',
                                    }) %}
                                    <img
                                        src="{{ standardAssetUrl }}"
                                        srcset="{{ standardAssetUrl }} 1x,
                                                {{ retinaAssetUrl }} 2x"
                                        alt="{{ photoAsset.title }}"
                                        class="Gallery__NavItemImage"
                                    >
                                </picture>
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
       </div>
    </div>
{% endblock %}
