{% set field = field|default(null) %}

{% set hasCta = false %}
{% for cta in field.callToAction if cta.link and cta.text %}
    {% set hasCta = true %}
{% endfor %}

<div class="BasicEntryBlock">
    {% if field.heading or field.subheading %}
        <div class="BasicEntryBlock__Headings">
            {% if field.heading %}
                <h4 class="BasicEntryBlock__Heading">
                    {{ field.heading|typeset }}
                </h4>
            {% endif %}
            {% if field.subheading %}
                <h5 class="BasicEntryBlock__SubHeading">
                    {{ field.subheading|typeset }}
                </h5>
            {% endif %}
        </div>
    {% endif %}
    {% set bodyCheck = field.body|striptags|trim %}
    {% if bodyCheck|length > 1 %}
        <div class="BasicEntryBlock__Body">
            {{ field.body|typeset }}
        </div>
    {% endif %}
    {% if hasCta %}
        <div class="BasicEntryBlock__CTAS">
            {% for cta in field.callToAction if cta.link and cta.text %}
                <a href="{{ cta.link }}" class="button BasicEntryBlock__CTA">
                    {{ cta.text|typeset }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
