{% set field = field|default(null) %}
{% set imageAsset = field.image.one() %}

<div class="StandardEntry__ImageEntryBlockInner">
    <picture>
        {% set imager400 = craft.imager.transformImage(imageAsset, {
            allowUpscale: false,
            width: 400,
        }) %}
        {% set imager800 = craft.imager.transformImage(imageAsset, {
            allowUpscale: false,
            width: 800,
        }) %}
        {% set imager1200 = craft.imager.transformImage(imageAsset, {
            allowUpscale: false,
            width: 1200,
        }) %}
        {% set imager1600 = craft.imager.transformImage(imageAsset, {
            allowUpscale: false,
            width: 1600,
        }) %}
        {% set imager2400 = craft.imager.transformImage(imageAsset, {
            allowUpscale: false,
            width: 2400,
        }) %}
        <source
            srcset="{{ imager400.url }} 1x,
                    {{ imager800.url }} 2x"
            media="(min-width: 1px) and (max-width: 499px)"
        >
        <source
            srcset="{{ imager800.url }} 1x,
                    {{ imager1600.url }} 2x"
            media="(min-width: 500px) and (max-width: 799px)"
        >
        <img
            src="{{ imager1200.url }}"
            srcset="{{ imager1200.url }} 1x,
                    {{ imager2400.url }} 2x"
            alt="{{ imageAsset.title }}"
            class="StandardEntry__ImageEntryBlockImage"
        >
    </picture>
</div>
