{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entries \craft\elements\Entry[] #}

{% extends "_core/LayoutMaster.twig" %}

{# Variables #}
{% set noIndex = noIndex|default(false) %}
{% set metaTitle = metaTitle|default(null) %}
{% set metaDescription = metaDescription|default(null) %}
{% set shareImage = shareImage|default(null) %}
{% set heroHeading = heroHeading|default(null) %}
{% set activeSpeaker = activeSpeaker|default(null) %}
{% set activeSeries = activeSeries|default(null) %}
{% set entries = entries|default({}) %}
{# @var pagination array #}
{% set pagination = pagination|default(null) %}
{% set showFilters = showFilters ?? true %}

{% set speakers = craft.users.group('speakers').orderBy('lastname asc').all() %}
{% set seriesList = craft.categories.group('messageSeries').orderBy('title asc').all() %}

{# Primary content #}
{% block content %}
    <div class="PageWithSubNav">
        <nav
            class="PageWithSubNav__Nav JSPageSubNav"
            data-open-class="PageWithSubNav__Nav--IsOpen"
        >
            <span class="PageWithSubNav__MobileExpander JSPageSubNav__MobileExpander">
                <span class="PageWithSubNav__MobileExpanderText JSPageSubNav__ActiveText">
                    Menu
                </span>
                <span class="PageWithSubNav__MobileExpanderIcon">
                    {% include '_svg/angle-down.twig' %}
                </span>
            </span>
            <div class="PageWithSubNav__NavLists JSPageSubNav__List">
                <div class="PageWithSubNav__NavListHeading">Subscribe:</div>
                <ul class="PageWithSubNav__NavList">
                    {# TODO: Set iTunes Link when the podcaset is in iTunes #}
                    {#<li class="PageWithSubNav__NavListItem">
                        <a
                            href="#"
                            class="PageWithSubNav__NavListLink"
                        >
                            View in iTunes Podcast Directory
                        </a>
                    </li>#}
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="{{ siteUrl|replaceLinkProtocol('itpc://') }}media/messages/feed"
                            class="PageWithSubNav__NavListLink"
                        >
                            Subscribe In iTunes
                        </a>
                    </li>
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="{{ siteUrl }}media/messages/feed"
                            class="PageWithSubNav__NavListLink"
                        >
                            RSS Feed
                        </a>
                    </li>
                </ul>
            </div>
            <div class="PageWithSubNav__NavLists JSPageSubNav__List">
                <div class="PageWithSubNav__NavListHeading">Messages by:</div>
                <ul class="PageWithSubNav__NavList">
                    {% for speaker in speakers %}
                        <li class="PageWithSubNav__NavListItem">
                            <a
                                href="/media/messages/by/{{ speaker.slugField }}"
                                class="PageWithSubNav__NavListLink{% if speaker.slugField == activeSpeaker %} PageWithSubNav__NavListLink--IsActive{% endif %}"
                            >
                                {% filter typeset %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="PageWithSubNav__NavListHeading">Messages Series</div>
                <ul class="PageWithSubNav__NavList">
                    {% for series in seriesList %}
                        <li class="PageWithSubNav__NavListItem">
                            <a
                                href="/media/messages/series/{{ series.slug }}"
                                class="PageWithSubNav__NavListLink{% if series.slug == activeSeries %} PageWithSubNav__NavListLink--IsActive{% endif %}"
                            >
                                {{ series.title|smartypants }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="PageWithSubNav__Content">
            <div class="BasicBlock">
                <div class="BasicBlock__Inner">
                    {% if showFilters %}
                        <form action="/media/messages/filter" class="Filters JS-RequireAnInput">
                            <div class="Filters__Inner">
                                <div class="Filters__RequireAnInput JS-RequireAnInput__Msg">
                                    You must specify at least one filter&nbsp;input
                                </div>
                                <ul class="Filters__FilterList">
                                    <li class="Filters__FilterItem">
                                        {% set messagesByValues = filterValues['messages_by'] ?? [] %}
                                        <label class="label Filters__FilterLabel">
                                            <span class="Filters__FilterLabelInner">By:</span>
                                            <select
                                                name="messages_by[]"
                                                class="select Filters__FilterSelect JS-Select JS-RequireAnInput__Input"
                                                data-choices-classes="choices--filter-item"
                                                multiple
                                            >
                                                {% for speaker in speakers %}
                                                    <option
                                                        value="{{ speaker.slugField }}"
                                                        {% if speaker.slugField in messagesByValues %}
                                                        selected
                                                        {% endif %}
                                                    >
                                                        {% filter smartypants %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </li>
                                    <li class="Filters__FilterItem">
                                        {% set seriesValues = filterValues['messages_in_series'] ?? [] %}
                                        <label class="label Filters__FilterLabel">
                                            <span class="Filters__FilterLabelInner">In series:</span>
                                            <select
                                                name="messages_in_series[]"
                                                class="select Filters__FilterSelect JS-Select JS-RequireAnInput__Input"
                                                data-choices-classes="choices--filter-item"
                                                multiple
                                            >
                                                {% for series in seriesList %}
                                                    <option
                                                        value="{{ series.slug }}"
                                                        {% if series.slug in seriesValues %}
                                                        selected
                                                        {% endif %}
                                                    >
                                                        {{ series.title|smartypants }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </li>
                                    <li class="Filters__FilterItem">
                                        {% set scriptureReferenceValue = filterValues['messages_scripture_reference'] ?? '' %}
                                        <label class="label Filters__FilterLabel">
                                            <span class="Filters__FilterLabelInner">Scripture reference:</span>
                                            <input
                                                type="text"
                                                name="messages_scripture_reference"
                                                class="input Filters__FilterInput JS-RequireAnInput__Input"
                                                value="{{ scriptureReferenceValue }}"
                                            >
                                        </label>
                                    </li>
                                    <li class="Filters__FilterItem">
                                        {% set titleValue = filterValues['messages_title'] ?? '' %}
                                        <label class="label Filters__FilterLabel">
                                            <span class="Filters__FilterLabelInner">Title:</span>
                                            <input
                                                type="text"
                                                name="messages_title"
                                                class="input Filters__FilterInput JS-RequireAnInput__Input"
                                                value="{{ titleValue }}"
                                            >
                                        </label>
                                    </li>
                                    <li class="Filters__FilterItem JS-ClearInput">
                                        {% set dateRangeStartValue = filterValues['messages_date_range_start'] ?? '' %}
                                        <label class="label Filters__FilterLabel">
                                            <span class="Filters__FilterLabelInner">Date Range Start:</span>
                                            <input
                                                type="text"
                                                name="messages_date_range_start"
                                                class="input Filters__FilterInput JS-FlatPicker JS-ClearInput__Input JS-RequireAnInput__Input"
                                                value="{{ dateRangeStartValue }}"
                                            >
                                        </label>
                                        <span class="Filters__ClearInput JS-ClearInput__Button">
                                            {% include '_svg/icon-close.svg' only %}
                                        </span>
                                    </li>
                                    <li class="Filters__FilterItem JS-ClearInput">
                                        {% set dateRangeEndValue = filterValues['messages_date_range_end'] ?? '' %}
                                        <label class="label Filters__FilterLabel">
                                            <span class="Filters__FilterLabelInner">Date Range End:</span>
                                            <input
                                                type="text"
                                                name="messages_date_range_end"
                                                class="input Filters__FilterInput JS-FlatPicker JS-ClearInput__Input JS-RequireAnInput__Input"
                                                value="{{ dateRangeEndValue }}"
                                            >
                                        </label>
                                        <span class="Filters__ClearInput JS-ClearInput__Button">
                                            {% include '_svg/icon-close.svg' only %}
                                        </span>
                                    </li>
                                    <li class="Filters__FilterItem Filters__FilterItem--IsActions">
                                        <a href="/media/messages" class="button button--outlined Filters__FilterActionButton">Reset Filter</a>
                                        <button class="button Filters__FilterActionButton">Filter Results</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    {% endif %}
                    <div class="MessageList">
                        <div class="MessageList__Inner">
                            {% if not entries|length %}
                                <section class="BasicBlock BasicBlock--HasOption-centerAlignBlock">
                                    <div class="BasicBlock__Inner">
                                        <div class="BasicBlock__Headings">
                                            <div class="BasicBlock__HeadingsInner">
                                                <h2 class="BasicBlock__Heading">
                                                    No Messages
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="BasicBlock__Content">
                                            <div class="BasicBlock__Body">
                                                <p>
                                                    {% if activeSpeaker %}
                                                        {% set speaker = craft.users.slugField(activeSpeaker).one() %}
                                                        {% if speaker %}
                                                            {% filter typeset %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %} currently has no messages.
                                                        {% else %}
                                                            There are currently no messages.
                                                        {% endif %}
                                                    {% elseif activeSeries %}
                                                        {% set category = craft.categories.slug(activeSeries).one() %}
                                                        {% if category %}
                                                            {{ category.title|typeset }} currently has no messages.
                                                        {% else %}
                                                            There are currently no messages.
                                                        {% endif %}
                                                    {% else %}
                                                        There are currently no messages.
                                                    {% endif %}
                                                    Please check back soon!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% else %}
                                {% for entry in entries %}
                                    <div class="MessageList__Item">
                                        {% include '_partials/Message.twig' with {
                                            entry: entry
                                        } only %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if pagination %}
                                {% include '_partials/Pagination.twig' with {
                                    pagination: pagination
                                } %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
