{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entries \craft\elements\Entry[] #}

{% extends "_core/LayoutMaster.twig" %}

{# Variables #}
{% set noIndex = noIndex|default(false) %}
{% set backLink = backLink|default(null) %}
{% set backLinkText = backLinkText|default(null) %}
{% set metaTitle = metaTitle|default(null) %}
{% set metaDescription = metaDescription|default(null) %}
{% set shareImage = shareImage|default(null) %}
{% set heroHeading = heroHeading|default(null) %}
{% set activeSpeaker = activeSpeaker|default(null) %}
{% set activeSeries = activeSeries|default(null) %}
{% set entries = entries|default({}) %}
{# @var pagination array #}
{% set pagination = pagination|default(null) %}

{# Primary content #}
{% block content %}
    <div class="PageWithSubNav">
        <nav
            class="PageWithSubNav__Nav JSPageSubNav"
            data-open-class="PageWithSubNav__Nav--IsOpen"
        >
            <span class="PageWithSubNav__MobileExpander JSPageSubNav__MobileExpander">
                <span class="PageWithSubNav__MobileExpanderText JSPageSubNav__ActiveText">
                    Menu
                </span>
                <span class="PageWithSubNav__MobileExpanderIcon">
                    {% include '_svg/angle-down.twig' %}
                </span>
            </span>
            <div class="PageWithSubNav__NavLists JSPageSubNav__List">
                <div class="PageWithSubNav__NavListHeading">Subscribe:</div>
                <ul class="PageWithSubNav__NavList">
                    {# TODO: Set iTunes Link when the podcaset is in iTunes #}
                    {#<li class="PageWithSubNav__NavListItem">
                        <a
                            href="#"
                            class="PageWithSubNav__NavListLink"
                        >
                            View in iTunes Podcast Directory
                        </a>
                    </li>#}
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="{{ siteUrl|replaceLinkProtocol('itpc://') }}media/messages/feed"
                            class="PageWithSubNav__NavListLink"
                        >
                            Subscribe In iTunes
                        </a>
                    </li>
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="{{ siteUrl }}media/messages/feed"
                            class="PageWithSubNav__NavListLink"
                        >
                            RSS Feed
                        </a>
                    </li>
                </ul>
            </div>
            <div class="PageWithSubNav__NavLists JSPageSubNav__List">
                <div class="PageWithSubNav__NavListHeading">Messages by:</div>
                <ul class="PageWithSubNav__NavList">
                    {% for speaker in craft.users.group('speakers').orderBy('lastname asc').all() %}
                        <li class="PageWithSubNav__NavListItem">
                            <a
                                href="/media/messages/by/{{ speaker.slugField }}"
                                class="PageWithSubNav__NavListLink{% if speaker.slugField == activeSpeaker %} PageWithSubNav__NavListLink--IsActive{% endif %}"
                            >
                                {% filter typeset %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="PageWithSubNav__NavListHeading">Messages Series</div>
                <ul class="PageWithSubNav__NavList">
                    {% for category in craft.categories.group('messageSeries').orderBy('title asc').all() %}
                        <li class="PageWithSubNav__NavListItem">
                            <a
                                href="/media/messages/series/{{ category.slug }}"
                                class="PageWithSubNav__NavListLink{% if category.slug == activeSeries %} PageWithSubNav__NavListLink--IsActive{% endif %}"
                            >
                                {{ category|typeset }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="PageWithSubNav__Content">
            <div class="BasicBlock">
                <div class="BasicBlock__Inner">
                    <div class="MessageList">
                        <div class="MessageList__Inner">
                            {% if backLink %}
                                <a href="{{ backLink }}">
                                    &laquo; {{ backLinkText|typeset }}
                                </a>
                                <br><br><br>
                            {% endif %}
                            {% if not entries|length %}
                                <section class="BasicBlock BasicBlock--HasOption-centerAlignBlock">
                                    <div class="BasicBlock__Inner">
                                        <div class="BasicBlock__Headings">
                                            <div class="BasicBlock__HeadingsInner">
                                                <h2 class="BasicBlock__Heading">
                                                    No Messages
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="BasicBlock__Content">
                                            <div class="BasicBlock__Body">
                                                <p>
                                                    {% if activeSpeaker %}
                                                        {% set speaker = craft.users.slugField(activeSpeaker).one() %}
                                                        {% if speaker %}
                                                            {% filter typeset %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %} currently has no messages.
                                                        {% else %}
                                                            There are currently no messages.
                                                        {% endif %}
                                                    {% elseif activeSeries %}
                                                        {% set category = craft.categories.slug(activeSeries).one() %}
                                                        {% if category %}
                                                            {{ category.title|typeset }} currently has no messages.
                                                        {% else %}
                                                            There are currently no messages.
                                                        {% endif %}
                                                    {% else %}
                                                        There are currently no messages.
                                                    {% endif %}
                                                    Please check back soon!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% else %}
                                {% for entry in entries %}
                                    <div class="MessageList__Item">
                                        {% include '_partials/Message.twig' with {
                                            entry: entry
                                        } only %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if pagination %}
                                {% include '_partials/Pagination.twig' with {
                                    pagination: pagination
                                } %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
