{% extends "_core/LayoutMaster" %}

{# Variables #}
{% set heroHeading = heroHeading|default(null) %}
{% set entries = entries|default({}) %}
{% set pagination = pagination|default(null) %}

{% block content %}
    <section class="StandardListing">
        <div class="StandardListing__Inner">
            <div class="StandardListing__Listings">
                {% for entry in entries %}
                    {% set primaryImageAsset = entry.primaryImage.one() %}
                    <div class="StandardListing__Listing">
                        <div class="StandardListingItem">
                            {% if primaryImageAsset %}
                                <a href="{{ entry.url }}" class="StandardListingItem__PrimaryImageWrapper">
                                    <picture>
                                        {% set primaryImageStandard = primaryImageAsset.getUrl({
                                            width: 120
                                        }) %}
                                        {% set primaryImageRetina = primaryImageAsset.getUrl({
                                            width: 240
                                        }) %}
                                        <img
                                            src="{{ primaryImageStandard }}"
                                            srcset="{{ primaryImageStandard }} 1x,
                                                    {{ primaryImageRetina }} 2x"
                                            alt="{{ entry.title|smartypants }}"
                                            class="StandardListingItem__PrimaryImage"
                                        >
                                    </picture>
                                </a>
                            {% endif %}
                            <div class="StandardListingItem__Content">
                                <div class="StandardListingItem__TitleArea">
                                    <div class="StandardListingItem__Title">
                                        <a href="{{ entry.url }}">{{ entry.title|typeset }}</a>
                                    </div>
                                    <div class="StandardListingItem__Date">
                                        {% if entry.allDayEvent %}
                                            {% set startDateString = entry.startDate|date('F j, Y') %}
                                            {% set endDateString = entry.endDate|date('F j, Y') %}
                                            {{ startDateString }}{% if startDateString != endDateString %} &mdash; {{ endDateString }}{% endif %}
                                        {% else %}
                                            {% set startDateString = entry.startDate|date('F j, Y') %}
                                            {% set startDateHM = entry.startDate|date('g:i a') %}
                                            {% set endDateString = entry.endDate|date('F j, Y') %}
                                            {% set endDateHM = entry.endDate|date('g:i a') %}
                                            {{ startDateString }}, {{ startDateHM }}
                                            {% if startDateString != endDateString or startDateHM != endDateHM %}
                                                &mdash; {% if startDateString != endDateString %}{{ endDateString }}, {% endif %}{{ endDateHM }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% set theBody = entry.body|striptags|trim %}
                                {% if theBody|length > 1 %}
                                    <div class="StandardListingItem__Body">
                                        <p>{{ theBody|typeset|truncate(300) }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if pagination %}
                <div class="PaginationWrapper">
                    {% include '_partials/Pagination' with {
                        pagination: pagination
                    } %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
