{% set fieldArray = fieldArray|default([]) %}
{% set pageOptions = pageOptions|default([]) %}
{% set showSubnav = false %}

{% for option in pageOptions if option.value == 'showSubnav' %}
    {% set showSubnav = true %}
{% endfor %}

{% set subNav = {} %}

{% if showSubnav %}
    {% set subNav = pageWithSubNav(craft.app.request.getSegment(1)) %}
{% endif %}

{% if not subNav %}
    {% set showSubnav = false %}
{% endif %}

{% if showSubnav %}
<div class="PageWithSubNav">
    <nav
        class="PageWithSubNav__Nav JSPageSubNav"
        data-open-class="PageWithSubNav__Nav--IsOpen"
    >
        <span class="PageWithSubNav__MobileExpander JSPageSubNav__MobileExpander">
            <span class="PageWithSubNav__MobileExpanderText JSPageSubNav__ActiveText">
                {% if not craft.app.request.getSegment(2) %}
                    {{ subNav.model.subNavTitleOverride|default(subNav.model.title)|typeset }}
                {% elseif subNav.hasChildren %}
                    {% for child in subNav.children if craft.app.request.getSegment(2) == child.model.slug %}
                        {{ child.model.subNavTitleOverride|default(child.model.title)|typeset }}
                    {% endfor %}
                {% endif %}
            </span>
            <span class="PageWithSubNav__MobileExpanderIcon">
                {% include '_svg/angle-down' %}
            </span>
        </span>
        <ul class="PageWithSubNav__NavList JSPageSubNav__List">
            <li class="PageWithSubNav__NavListItem">
                <a
                    href="{{ subNav.model.url }}"
                    class="PageWithSubNav__NavListLink{% if not craft.app.request.getSegment(2) %} PageWithSubNav__NavListLink--IsActive{% endif %} PageWithSubNav__NavListLink--IsPrimary JSPageSubNav__Link"
                    data-active-class="PageWithSubNav__NavListLink--IsActive"
                >
                    {{ subNav.model.subNavTitleOverride|default(subNav.model.title)|typeset }}
                </a>
            </li>
            {% if subNav.hasChildren %}
                {% for child in subNav.children %}
                    <li class="PageWithSubNav__NavListItem">
                        <a
                            href="{{ child.model.url }}"
                            class="PageWithSubNav__NavListLink{% if craft.app.request.getSegment(2) == child.model.slug %} PageWithSubNav__NavListLink--IsActive{% endif %} JSPageSubNav__Link"
                            data-active-class="PageWithSubNav__NavListLink--IsActive"
                        >
                            {{ child.model.subNavTitleOverride|default(child.model.title)|typeset }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
    <div class="PageWithSubNav__Content">
{% endif %}

        {% for field in fieldArray %}
            {% include '_standardPageBuilder/' ~ field.type.handle with {
                field: field,
            } %}
        {% endfor %}

{% if showSubnav %}
    </div>
</div>
{% endif %}
