{% set field = field|default(null) %}
{% set uniqueId = uniqueId() %}

{% set address %}
    {{ field.address|typeset }}<br>
    {% if field.addressLine2 %}{{ field.addressLine2|typeset }}<br>{% endif %}
    {% filter typeset %}{{ field.city }}, {{ field.state }}, {{ field.zip }}{% endfilter %}
{% endset %}

{% set addressOnly %}{{ field.address }}{% if field.addressLine2 %} {{ field.addressLine2 }}{% endif %} {{ field.city }} {{ field.state }} {{ field.zip }}{% endset %}

{% set markerContent %}<p>{{ address }}</p><p><a href="https://www.google.com/maps/search/{{ addressOnly|url_encode }}" target="_blank">View on Google Maps &raquo;</a></p>{% endset %}

<section class="MapBlock">
    <div class="MapBlock__Inner">

        <div class="MapBlock__Content">

            {% if field.heading %}
                <h1 class="MapBlock__Heading">
                    {{ field.heading|typeset }}
                </h1>
            {% endif %}

            {% if field.subheading %}
                <h2 class="MapBlock__SubHeading">
                    {{ field.subheading|typeset }}
                </h2>
            {% endif %}

            <div class="MapBlock__Address">
                {{ address }}
            </div>

            {% if field.body %}
                <div class="MapBlock__Body">
                    {{ field.body|typeset }}
                </div>
            {% endif %}

            <div class="MapBlock__DirectionsButtonWrapper">
                <a href="https://www.google.com/maps/search/{{ addressOnly|url_encode }}" target="_blank" class="button button--colored">
                    {% filter typeset %}Get Directions on Google Maps{% endfilter %}
                </a>
            </div>

        </div>

        <div class="MapBlock__Map">
            <div
                class="GoogleMap"
                data-markers-var-id="{{ uniqueId }}"
                data-initial-center='{
                    "latitude": "{{ field.latitude }}",
                    "longitude": "{{ field.longitude }}"
                }'
            ></div>
        </div>

    </div>

    <script type="text/javascript">
        window.googleMapMarkers = window.googleMapMarkers || {};
        window.googleMapMarkers['{{ uniqueId }}'] = [{
            latitude: {{ field.latitude|json_encode|raw }},
            longitude: {{ field.longitude|json_encode|raw }},
            markerContent: {{ markerContent|trim |json_encode|raw }}
        }];
    </script>
</section>
