{% extends "_core/LayoutMaster" %}

{# Variables #}
{% set noIndex = noIndex|default(false) %}
{% set metaTitle = metaTitle|default(null) %}
{% set metaDescription = metaDescription|default(null) %}
{% set shareImage = shareImage|default(null) %}
{% set heroHeading = heroHeading|default(null) %}
{% set heroImageAsset = activeSeries|default(null) %}
{% set entry = entry|default(null) %}
{% set dateString = dateString|default(null) %}

{# Primary content #}
{% block content %}
    <section class="BasicBlock">
        <div class="BasicBlock__Inner">
            <a href="/events">&laquo; back to events listing</a>
            <br><br><br>
            <div>
                {% set primaryImageAsset = entry.primaryImage.one() %}
                {% if primaryImageAsset %}
                    <div class="BasicBlock__ImgFloat">
                        <picture>
                            {% set primaryImageStandard = primaryImageAsset.getUrl({
                                width: 300
                            }) %}
                            {% set primaryImageRetina = primaryImageAsset.getUrl({
                                width: 600
                            }) %}
                            <img
                                src="{{ primaryImageStandard }}"
                                srcset="{{ primaryImageStandard }} 1x,
                                        {{ primaryImageRetina }} 2x"
                                alt="{{ entry.title|smartypants }}"
                                class="BasicBlock__ImgFloatImage"
                            >
                        </picture>
                    </div>
                {% endif %}
                <div class="BasicBlock__Headings">
                    <h2 class="BasicBlock__Heading">
                        {{ entry.title|typeset }}
                    </h2>
                    <h3 class="BasicBlock__SubHeading BasicBlock__SubHeading--IsSmall">
                        {% if dateString %}
                            {{ dateString|typeset }}
                        {% else %}
                            {% if entry.allDayEvent %}
                                {% set startDateString = entry.startDate|date('F j, Y') %}
                                {% set endDateString = entry.endDate|date('F j, Y') %}
                                {{ startDateString }}{% if startDateString != endDateString %} &mdash; {{ endDateString }}{% endif %}
                            {% else %}
                                {% set startDateString = entry.startDate|date('F j, Y') %}
                                {% set startDateHM = entry.startDate|date('g:i a') %}
                                {% set endDateString = entry.endDate|date('F j, Y') %}
                                {% set endDateHM = entry.endDate|date('g:i a') %}
                                {{ startDateString }}, {{ startDateHM }}
                                {% if startDateString != endDateString or startDateHM != endDateHM %}
                                    &mdash; {% if startDateString != endDateString %}{{ endDateString }}, {% endif %}{{ endDateHM }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </h3>
                </div>
                {% set theBody = entry.body|striptags|trim %}
                {% if theBody|length > 1 %}
                    <div class="BasicBlock__Content">
                        <div class="BasicBlock__Body">
                            {{ entry.body|typeset }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
