{% extends "_core/LayoutMaster" %}

{# Hero heading #}
{% set heroHeading = 'Events' %}

{# Get the page number #}
{% set pageNum = pageNum|default(null) %}

{# If the page number is 1, it is not valid, there should be no /page/1 #}
{# Or if there's not section #}
{% if pageNum == 1 %}
    {% exit 404 %}
{% endif %}

{# Now if there's no page number, it should be 1 #}
{% set pageNum = pageNum|default(1)|cast('int') %}

{# Get the entries #}
{% set dayAfter = now|date_modify('-1 days')|date('Y-m-d G:i:s') %}
{% set entriesQuery = craft.entries.section('events').endDate('> ' ~ dayAfter) %}

{# Get the entries count #}
{% set entriesTotal = entriesQuery.count()|cast('int') %}

{# Set the limit #}
{% set limit = 12 %}

{# Set the max number of pages #}
{% set maxPages = ceil(entriesTotal / limit)|cast('int') %}

{# If we have exceeded the max number of pages we should 404 #}
{% if pageNum > maxPages %}
    {% exit 404 %}
{% endif %}

{# Get the offset #}
{% set offset = (limit * pageNum) - limit %}

{# Get the entries #}
{% set entries = entriesQuery.limit(limit).offset(offset).orderBy('startDate asc').all() %}

{% set pagination = getPagination({
    currentPage: pageNum,
    perPage: limit,
    totalResults: entriesTotal,
    base: getUriPathSansPagination(),
}) %}

{% block content %}
    <section class="EventsListing">
        <div class="EventsListing__Inner">
            <div class="EventsListing__Listings">
                {% for entry in entries %}
                    {% set primaryImageAsset = entry.primaryImage.one() %}
                    <div class="EventsListing__Listing">
                        <div class="EventListingItem">
                            {% if primaryImageAsset %}
                                <a href="{{ entry.url }}" class="EventListingItem__PrimaryImageWrapper">
                                    <picture>
                                        <img
                                            src="{{ primaryImageAsset.getUrl() }}"
                                            alt="{{ entry.title|smartypants }}"
                                            class="EventListingItem__PrimaryImage"
                                        >
                                    </picture>
                                </a>
                            {% endif %}
                            <div class="EventListingItem__Content">
                                <div class="EventListingItem__TitleArea">
                                    <div class="EventListingItem__Title">
                                        <a href="{{ entry.url }}">{{ entry.title|typeset }}</a>
                                    </div>
                                    <div class="EventListingItem__Date">
                                        {% if entry.allDayEvent %}
                                            {% set startDateString = entry.startDate|date('F j, Y') %}
                                            {% set endDateString = entry.endDate|date('F j, Y') %}
                                            {{ startDateString }}{% if startDateString != endDateString %} &mdash; {{ endDateString }}{% endif %}
                                        {% else %}
                                            {% set startDateString = entry.startDate|date('F j, Y') %}
                                            {% set startDateHM = entry.startDate|date('g:i a') %}
                                            {% set endDateString = entry.endDate|date('F j, Y') %}
                                            {% set endDateHM = entry.endDate|date('g:i a') %}
                                            {{ startDateString }}, {{ startDateHM }}
                                            {% if startDateString != endDateString or startDateHM != endDateHM %}
                                                &mdash; {% if startDateString != endDateString %}{{ endDateString }}, {% endif %}{{ endDateHM }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% set theBody = entry.body|striptags|trim %}
                                {% if theBody|length > 1 %}
                                    <div class="EventListingItem__Body">
                                        <p>{{ theBody|typeset|truncate(300) }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if pagination %}
                <div class="PaginationWrapper">
                    {% include '_partials/Pagination' with {
                        pagination: pagination
                    } %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
