{# @var \App\Http\PageBuilder\BlockResponse\BasicEntryBlock\BasicEntryBlockContentModel contentModel #}

<div class="relative">
    <div
        class="relative mx-auto px-4 py-12 sm:max-w-5xl sm:px-14 sm:py-20 md:py-28 lg:py-32"
    >
        {% if contentModel.headline %}
            <div class="mb-8">
                {% if contentModel.headline %}
                    <h2 class="mt-2 text-black text-3xl font-extrabold tracking-tight sm:text-4xl">
                        {{ contentModel.headline|smartypants|widont }}
                    </h2>
                {% endif %}
                {% if contentModel.subHeadline %}
                    <h3 class="text-base font-semibold uppercase tracking-wider text-gray-600">
                        {{ contentModel.subHeadline|smartypants|widont }}
                    </h3>
                {% endif %}
            </div>
        {% endif %}
        {% if contentModel.content.count %}
            <div class="mt-3 text-lg text-gray-600 prose max-w-none">
                {{ contentModel.content|smartypants|widont }}
            </div>
        {% endif %}
        {% if contentModel.hasCtas %}
            <div class="mt-8">
                {% for cta in contentModel.ctas %}
                    <div>
                        <div class="inline-flex rounded-md shadow{% if not loop.last %} mb-2{% endif %}">
                            <a
                                href="{{ cta.href }}"
                                class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-100 bg-crimson hover:bg-crimson-dark"
                                {% if cta.newWindow %}
                                    target="_blank"
                                {% endif %}
                            >
                                {{ cta.content|smartypants }}
                                {% if cta.newWindow %}
                                    {% include 'Svg/Heroicon/SolidExternalLink.svg' with {
                                        textColorClass: 'text-gray-200',
                                    } %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
