{# @var \App\Http\PageBuilder\BlockResponse\ContactForm\ContactFormContentModel contentModel #}

<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="relative bg-gray-100 border border-gray-200 shadow-xl">
        <div class="grid grid-cols-1 lg:grid-cols-3">
            <div class="relative overflow-hidden py-10 px-6 bg-crimson sm:px-10 xl:p-12">
                <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                    <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
                        <defs>
                            <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
                    <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
                        <defs>
                            <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
                    <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
                        <defs>
                            <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fff"></stop>
                                <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                {#<h3 class="text-lg font-medium text-white">Contact me</h3>#}
                {# mt-6 #}
                {#<p class="text-base text-white max-w-3xl">Need to get in touch? I'd love to hear from you. Submit the form and I'll get back in touch with you as soon as I can.</p>#}
                <div class="prose text-gray-100 prose-over-dark">
                    {{ contentModel.content|smartypants|widont }}
                </div>
            </div>
            <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                {% if contentModel.formValues %}
                    <div class="pb-6 px-4 sm:px-6 md:px-0">
                        {% include 'Http/Components/Alert.twig' with {
                            content: 'We ran into the following errors trying to send your email',
                            contentList: contentModel.formValues.formattedErrorMessages,
                            type: 'error',
                        } only %}
                    </div>
                {% endif %}
                <form
                    action="/contact-form-submission"
                    method="POST"
                    class="{# mt-6 #} grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
                >
                    {{ csrfInput() }}
                    <input type="text" name="a_password" class="sr-only" tabindex="-1" autocomplete="nope">
                    <input type="text" name="your_company" class="sr-only" tabindex="-1" autocomplete="nope">
                    <input type="hidden" name="from_url" value="{{ contentModel.fromUrl }}">
                    <input type="hidden" name="redirect_url" value="{{ contentModel.redirectUrl }}">
                    <div>
                        <label for="your_name" class="block text-sm font-medium text-gray-900">Your name</label>
                        <div class="mt-1">
                            <input
                                type="text"
                                name="your_name"
                                id="your_name"
                                class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-crimson focus:border-crimson border-gray-300 rounded-md"
                                {% if contentModel.formValues %}
                                value="{{ contentModel.formValues.nameRaw }}"
                                {% endif %}
                            >
                        </div>
                    </div>
                    <div>
                        <label for="your_email" class="block text-sm font-medium text-gray-900">Your Email Address</label>
                        <div class="mt-1">
                            <input
                                type="text"
                                name="your_email"
                                id="your_email"
                                class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-crimson focus:border-crimson border-gray-300 rounded-md"
                                {% if contentModel.formValues %}
                                value="{{ contentModel.formValues.emailRaw }}"
                                {% endif %}
                            >
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <div class="flex justify-between">
                            <label for="message" class="block text-sm font-medium text-gray-900">Message</label>
                            {# <span id="message-max" class="text-sm text-gray-500">Max. 500 characters</span> #}
                        </div>
                        <div class="mt-1">
                            <textarea id="message" name="message" rows="4" class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-crimson focus:border-crimson border border-gray-300 rounded-md" aria-describedby="message-max">{% if contentModel.formValues %}{{ contentModel.formValues.messageRaw }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="sm:col-span-2 sm:flex sm:justify-end">
                        <button type="submit" class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-crimson hover:bg-crimson-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-crimson-dark sm:w-auto">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
